<% extend('./layout/layout') %> 

<div class="row my-4 justify-content-center">
<div class="col-md-9">
  
  <% for( let i in newData ) { %>
    <div class="card mb-3">
      <div class="card-body">
        <a href="/post/?id=<%= newData[i].id %>"> <h2 class="text-primary"><%= newData[i].title %></h2></a>
        <div class="d-flex flex-row text-secondary small">
          <div class="p-2"><span class="fa fa-clock-o"></span>
            <%= moment(newData[i].updateTime * 1000).format('YYYY/MM/DD') %> 
          </div>
          <% for( let j in categories ) { %>
            <% if (categories[j].id === newData[i].category) { %>
              <div class="p-2"><i class="fa fa-tag" aria-hidden="true"></i> 
                <a href="#" class="text-info">
                  <%= categories[j].name %> 
                </a>
              </div>
            <% } %>
          <% } %>
          <div class="p-2">
            <script id="dsq-count-scr" src="//bu-luo-ge-liu-yan-ban.disqus.com/count.js" async></script>
            <a href="/post/?id=<%= newData[i].id %>#disqus_thread">Link</a>
          </div>
        </div>
        <div>
          <%- stringTag(newData[i].content).slice(0,150) %> ...
        </div>
      </div>
    </div>
  <% } %>
  
</div>
</div>


<nav class="my-5" aria-label="Page navigation example">
<ul class="pagination justify-content-center">
  <li class="page-item <% if (hasPre) { %>
    disabled
  <% } %>">
    <a class="page-link" href="/?page=<%- parseInt(currentPage)-1 %> " tabindex="-1">Previous</a>
  </li>
  
    <% for( let k=1;k<=totalPage;k++ ) { %>
      <li class="page-item <% if (k == currentPage) { %>active<% } %>">
        <a class="page-link" href="/?page=<%= k %>">
          <%= k %> 
        </a>
      </li>
    <% } %>
  
  <li class="page-item <% if (hasNext) { %>
    disabled
  <% } %>">
    <a class="page-link" href="/?page=<%- parseInt(currentPage)+1 %> ">Next</a>
  </li>
</ul>
</nav>
